<br/>
<div class="container">
    <%= render 'form', document: @document %>

    <%= link_to 'بازگشت', documents_path, :class => "waves-effect waves-light btn deep-purple darken-2 white-text"%>
</div>