<div class="container">
  <div class="row">
    <div class="col s4">
      <br/>
      <br/>
      <%= link_to 'ویرایش', edit_document_path(@document), :class => "waves-effect waves-light btn deep-purple darken-2 white-text" %> 
      <%= link_to 'بازگشت', documents_path , :class => "waves-effect waves-light btn deep-purple darken-2 white-text" %>
    </div>
    <div class="col s8">
      <h2> <%= @document.title %> </h2>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <%= @document.content %>
    </div>
  </div>
</div>
