<div class="container">
    <div class="row">
        <div class="col s12">
            <h1> یوداک چیست؟ </h1>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <span class="card-title">
                    نرم‌افزار آزاد ویرایش متن
                </span>
                <p></p>
            </div>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <span class="card-title">
                    حفط امنیت آنلاین و حریم خصوصی شما
                </span>
                <p></p>
            </div>
        </div>
    </div>
</div>