<div class="container">
    <div class="row">
        <div class="col s12">
            <h1> یوداک چیست؟ </h1>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <div class="card-title">
                    حفط امنیت آنلاین و حریم خصوصی شما
                </div>
                <p>
                    در استفاده از سیستم‌های ناآزاد، هیچ تضمینی در مقابل این که شرکت‌ها و اشخاص با داده‌های شما چه می‌کنند وجود ندارد. همچنین، شما هیچ‌گاه مطمئن نخواهید بود که آیا داده‌هایتان به صورت دائم از پایگاه‌داده آن وبگاه حذف شده‌است یا خیر. یوداک به شما این موارد را تضمین می‌دهد.
                </p>
            </div>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <div class="card-title">
                    نرم‌افزار آزاد ویرایش متن
                </div>
                <p>
                    از آنجایی که سرویس‌هایی مانند <a href="https://docs.google.com">گوگل‌داک</a> آزاد نیستند و این به این معناست که شما قادر به خواندن کد منبع، بازنشر آن و همچنین اعمال تغییرات مورد نظر خود در آن نیستید، یوداک ساخته شده‌است. یوداک نرم‌افزاری آزاد، متن‌باز و حتی کاملا رایگان است که به شما اجازه می‌دهد مستندات خود را به صورت برخط بسازید و در فضای اینترنت ذخیره کنید.
                </p>
                <p>
                    یوداک به شما امکان ایجاد، ویرایش و حذف کامل مستندات را می‌دهد. همچنین، با استفاده از یوداک شما قادر خواهید بود تا از مستندات خود خروجی PDF نیز تهیه کنید.
                </p>
            </div>
        </div>
        <div class="col s12">
            <img class="responsive-img" src="/wordproc.jpg" />
        </div>
        <div class="col s12">
            <h2> ویژگی‌های یوداک </h2>
        </div>
        
    </div>
</div>