<div class="container">
    <div class="row">
        <div class="col s12">
            <h1> یوداک چیست؟ </h1>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <div class="card-title">
                    حفط امنیت آنلاین و حریم خصوصی شما
                </div>
                <p>
                    در استفاده از سیستم‌های ناآزاد، هیچ تضمینی در مقابل این که شرکت‌ها و اشخاص با داده‌های شما چه می‌کنند وجود ندارد. همچنین، شما هیچ‌گاه مطمئن نخواهید بود که آیا داده‌هایتان به صورت دائم از پایگاه‌داده آن وبگاه حذف شده‌است یا خیر. یوداک به شما این موارد را تضمین می‌دهد.
                </p>
            </div>
        </div>
        <div class="col s6">
            <div class="card yellow darken-2">
                <div class="card-title">
                    نرم‌افزار آزاد ویرایش متن
                </div>
                <p>
                    از آنجایی که سرویس‌هایی مانند <a href="https://docs.google.com">گوگل‌داک</a> آزاد نیستند و این به این معناست که شما قادر به خواندن کد منبع، بازنشر آن و همچنین اعمال تغییرات مورد نظر خود در آن نیستید، یوداک ساخته شده‌است. یوداک نرم‌افزاری آزاد، متن‌باز و حتی کاملا رایگان است که به شما اجازه می‌دهد مستندات خود را به صورت برخط بسازید و در فضای اینترنت ذخیره کنید.
                </p>
                <p>
                    یوداک به شما امکان ایجاد، ویرایش و حذف کامل مستندات را می‌دهد. همچنین، با استفاده از یوداک شما قادر خواهید بود تا از مستندات خود خروجی PDF نیز تهیه کنید.
                </p>
            </div>
        </div>
        <div class="col s12">
            <img class="responsive-img" src="/wordproc.jpg" />
        </div>
        <div class="col s12">
            <h2> ویژگی‌های یوداک </h2>
        </div>
        <div class="col s4">
            <div class="card purple darken-1">
                <div class="card-title white-text">
                    پشتیبانی از RTL
                </div>
                <div class="card-content">
                    <img class="responsive-img" src="/writing.png">
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card purple darken-1">
                <div class="card-title white-text">
                   خروجی PDF
                </div>
                <div class="card-content">
                    <img class="responsive-img" src="/pdf.png">
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card purple darken-1">
                <div class="card-title white-text">
                    کاملا برخط
                </div>
                <div class="card-content">
                    <img class="responsive-img" src="/internet.png">
                </div>
            </div>
        </div>
        <div class="col s6">
            <a style="width:100%; height:75px;" class="waves-effect waves-light btn deep-purple darken-2 white-text" href="/users/sign_up"><p>هم‌اکنون شروع کنید</p></a>
        </div>
        <div class="col s6">
            <a style="width:100%; height:75px;" class="waves-effect waves-light btn deep-purple darken-2 white-text" href="#"><p>سوالات متدوال شما</p></a>
        </div>
        <div class="col s12" style="padding-top:15px;">
            <img src="/typewriter.jpeg" class="responsive-img">
        </div>
        <div class="col s12">
            <h2> چرا یوداک؟ </h2>
        </div>
        <div class="col s12">
            <p>
                برای استفاده از یوداک، شما محدود به استفاده از این نمونه خاص نیستید. بلکه می‌توانید به <a href="https://github.com/prp-e/youdoc"> گیتهاب </a> نیز مراجعه کنید و نمونه شخصی یوداک خود را مستقر کنید. گذشته از این، حتی در این نمونه نیز تضمین می‌کنیم که داده‌های شما هیچ گاه برای شخصی غیر از خود شما، نمایش داده نخواهند شد و چنانچه نیاز به اشتراک آن‌ها با سایرین دارید، امکانی مانند دریافت خروجی PDF برای شما فراهم شده است. همچنین هنگامی که اسنادی که روی یوداک ایجاد کرده‌اید را حذف کنید، همه‌چیز به طور کامل از کارساز یوداک پاک خواهد شد و ردی از شما در یوداک باقی نمی‌ماند.
            </p>
            <p>
                همچنین یوداک، پشتیبانی کامل از زبان فارسی، متن انگلیسی درون متن فارسی و پیوست کردن عکس را به خوبی برای شما فراهم آورده است. بنابراین شما می‌توانید به سادگی نوشتن یک وبلاگ در سرویسی مانند ویرگول، مستندات خود را تهیه کرده و سپس از آن‌ها خروجی مورد نظر خود در قالب PDF را تهیه کنید. به این شکل، به بسیاری از افراد که با اسناد زیادی سر و کار دارند، کمک کرده‌ایم تا کیفیت کار خود را بهبود بخشند و همیشه به اسناد مورد نیاز خود دسترسی داشته باشند.
            </p>
        </div>
    </div>
</div>