<div class="container">
    <div class="row">
        <div class="col s12">
            <h2> درباره یوداک </h2>
        </div>
        <div class="col s12">
            <p>
                یوداک یک نرم‌افزار آزاد و متن باز منتشر شده با پروانه AGPL است که سورس‌کد آن از <a href="https://github.com/prp-e/youdoc"> گیتهاب </a> قابل دسترسی و بررسی است. هدف از انتشار یوداک، این بوده است که کاربران نرم‌افزارهای تحت شبکه مانند گوگل‌داکز و سایر ابزارهای مشابه، قادر به استفاده از یک نرم‌افزار اداری مناسب در فضای وب باشند و از بابت داده‌های خود خیالشان راحت باشد.
            </p>
            <p>
                از سوی دیگر، از آنجا که کاربران ایرانی عموما هدف تحریم‌های زیادی از سمت کمپانی‌های انحصاری و حتی آزاد آمریکایی قرار می‌گیرند، ناگزیر هستیم که بسیاری از ابزارهای برخط مانند گوگل‌داکز را مشابه‌سازی داخلی کنیم. مورد دیگری که به شدت به چشم می‌آید این است که بسیاری از مجموعه‌های اداری آنلاین مثل گوگل داکز و آفیس ۳۶۵ مشکلات عدیده‌ای با زبان فارسی نیز دارند و به همین دلیل، مستندنگاری به زبان فارسی با این ابزارها تقریبا ناممکن شده‌است.
            </p>
        </div>
         <div class="col s12">
            <h3>یوداک چه فرمت‌هایی را پشتیبانی می‌کند؟</h3>
        </div>
        <div class="col s12">
            <p>
                در حال حاضر، یوداک به شما یک ویرایشگر به سبک واژه‌پردازهای کلاسیک را ارائه می‌کند و شما پس از ذخیره اسناد خود، قادر خواهید بود تا خروجی PDF نیز از سند خود تهیه کنید. لازم به ذکر است که در حال حاضر، خروجی PDF در مراحل اولیه خود قرار داشته و بی‌مشکل نیست.
            </p>
            <p>
                در آینده نیز احتمالا امکان دریافت خروجی odt از اسناد منتشر شده در یوداک نیز فراهم خواهد آمد. همچنین در آینده‌ای نزدیک، یوداک یحتمل امکان این که شما اسلایدها و صفحه‌گسترده‌های خود را نیز میزبانی کنید، خواهد داشت.
            </p>
        </div>
        <div class="col s12">
            <h3> آیا برای استفاده از بوداک، باید هزینه‌ای پرداخت کنیم؟ </h3>
        </div>
        <div class="col s12">
            <p>
                خیر، یوداک همیشه رایگان خواهد ماند. این یکی از اهداف اصلی سرویس یوداک است. اما چنانچه تمایل به حمایت مالی از پروژه دارید، می‌توانید از طریق لینک زیر، برای توسعه‌دهنده پروژه قهوه‌ای بخرید.
            </p>
        </div>
        <div class="col s8">
            <a href="http://www.coffeete.ir/haghiri">
                <img src="http://www.coffeete.ir/images/buttons/lemonchiffon.png" style="width:260px;" />
            </a>
        </div>
    </div>
</div>
