<html>
    <head>
        <title>PDF</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <%= wicked_pdf_stylesheet_link_tag "pdf" %>
        <%= wicked_pdf_javascript_include_tag "number_pages" %>
    </head>
    <body onload="number_pages">
        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>